

<div class="-breadcrumb">
  <a href="/">Inicio</a>
  / Medicina molecular
</div>

<div class="-container">

  <div class="row">
    <div class="col-sm">
      <img class="float-end"  width="307" height="49" alt="The newscience of health" src="assets/images/medicina-molecular.png">
    </div>
  </div>

  <br>
  <div class="border rounded p-2 ">

    <div class="col">
      <img width="320px" height="auto" class=" float-start p-3 pt-0" alt="Medicina molecular beneficios" src="assets/images/medicina-molecular.jpeg">

      <p>La medicina molecular tiene la capacidad de armonizar la comunicación celular, otorgando así la máxima respuesta de recuperación en los desequilibrios orgánicos y sistémicos que sufrimos los seres humanos durante una enfermedad, reduce de forma casi de forma inmediata la sintomatología patológica como la perdida de energía, inflamaciones, desequilibrios hormonales, trastornos del sueño y el dolor.</p>
      <p>Regresa la memoria correcta los órganos y tejidos afectados de forma tal que no se convierte en una medicina perpetua.</p>
        <p>Utiliza micro campos electromagnéticos que contienen la información correcta de la función de cada órgano de forma tal que se logra eliminar el consumo de medicamentos que producen efectos secundarios.</p>
        <p>En todo tratamiento se desintoxica al paciente y se le asigna una dieta personalizada a sus aminoácidos para mejorar el proceso de absorción y la calidad de los nutrientes celulares.</p>
    </div>

  </div>

  <div class="-col-1-3 p-4">
      <div>
        <h1>Beneficios</h1>
      </div>
      <div>
        <ul class="list-group">
          <li><p>Conoce el poder de la Medina Molecular aplicada a las enfermedades</p></li>
          <li><p>Descubre tu estado general de salud a través del Diagnóstico Molecular</p></li>
          <li><p>Encuentra una solución definitiva a tus problemas de salud</p></li>
          <li><p>Logra el control de tu estado emocional, calidad del sueño y energía a través de la Medina Molecular</p></li>
          <li><p>Libérate del dolor a través de la Medicina Molecular</p></li>
          <li><p>Regula tu función Química – Hormonal y Metabólica por medio de la Medicina Molecular</p></li>
          <li><p>Líder mundial en el tratamiento de alteraciones Neurológicas</p></li>
          <li><p>Mejora de la condición física para atletas y deportistas</p></li>
        </ul>
      </div>
  </div>


  <div class="-col-1-3 p-4">
    <div>
      <h1>Método</h1>
    </div>
    <div>
          <p>El método consiste en realizar un escaneo de una muestra de ADN (cabello o uña) a través de sistemas de resonancia molecular de baja frecuencia que permiten encontrar las más pequeñas imperfecciones en la comunicación entre transmisores y receptores moleculares que conforman el Universo que nos constituyen como seres vivos y energéticos.</p>
          <p>Una vez que se comprueban los hallazgos, se comparten con el paciente y se realiza una cita virtual con el Dr. Valter Kühne (o alguno de sus especialistas, según sea el caso y la urgencia de éste) para explicar a detalle los resultados; en este momento se presenta la cotización del tratamiento dependiendo los especialistas que se requieran para realizar la formulación (en dónde se encuentran importantes alianzas con los institutos de investigación científica más importantes del mundo).</p>
          <p>Una vez iniciado cada tratamiento, se realiza una cita de control cada 90, 45 o 30 días dependiendo de la importancia del estado de salud de cada paciente, se cuenta con el apoyo de la Directora de Calidad que se encarga de dar seguimiento frecuente a cada paciente, de forma tal, que se le dé atención oportuna a cualquier malestar sin importar la fecha de su cita.</p>
    </div>
  </div>

  <div class="-col-1-3 p-4">
    <div>
      <h1>Como funciona</h1>
    </div>
    <div>
      <p>Una vez que se cuenta con la secuencia completa del código correcto de las más importantes afectaciones del paciente, se realiza un holograma electromagnético que se imprime en los electrones de los átomos (normalmente en glóbulos homeopáticos y solución salina) y en una tarjeta electromagnética que se debe llevar en contacto con la piel, sin importa el lugar.   </p>
      <p>Cada electrón puede almacenar hasta 21,000 bytes de información y se requiere casi, 4 mil trillones de átomos para conformar una partícula de materia, lo que nos permite tener un margen de inmenso almacenamiento en un pequeño espacio.   </p>
      <p>Se realiza una Dieta personalizada a los resultados de los estudios de aminoácidos, proteínas, enzimas, vitaminas, minerales, etc. de forma tal que la mitocondria de las células contenga los mejores nutrientes a nivel celular para cumplir las nuevas órdenes.   </p>
    </div>
  </div>


  <div class="-col-1-3 p-4">
    <div>
      <h1>Servicios</h1>
    </div>
    <div>
      <h2>DIAGNOSTICO</h2>
      <p>Se realiza a través de una muestra de cabello o uña, del cual se extrae la información sobre la
      transferencia de las frecuencias del ADN dirigida a las moléculas, así como el comportamiento de las
        mismas.</p>
      <p>En este estudio se puede saber, como se encuentra la función de los órganos, las secreciones
      hormonales, proteínicas, enzimáticas, etc. pudiendo ver con claridad el origen de los desordenes
        funcionales de cada órgano o de los sistemas que integran la vida del ser humano.</p>
      <p>Los resultados incluyen hasta 16 estudios en que se pueden observar los aminoácidos, células,
      cromosomas, cerebro, el sistema nervioso, glandular, respiratorio, circulatorio, linfático, digestivo,
        epigástrico, urinario, reproductor, medula ósea, óseo, órganos de los sentidos y la microbiología.</p>

      <h2>TRATAMIENTO</h2>
      <p>Una vez que se tienen los resultados del Diagnóstico, se seleccionan aquellos elementos que estan
      causando una enfermedad o desequilibrio y se estimulan regresando la vibración correcta a cada uno,
      logrando así la función normal de cada uno de ellos, así mismo se realiza una dieta totalmente
        personalizada asociada a mejorar los nutrientes de las células que se encuentran en disfunción.</p>
      <p>La información que requieren las moléculas se imprime en los electrones de los átomos de cualquier
      sustancia inerte como puede ser en un glóbulo homeopático y solución salina, así mismo, se programa
      una tarjeta electromagnética que debe portar cada paciente que contiene las ordenes correctas en cada
        tratamiento.</p>
      <p>En algunos casos se requiere del apoyo de un equipo potencializador, que es un lector de la tarjeta
      electromagnética que acelera la recuperación de la salud del paciente en algunas enfermedades de
        carácter crónico degenerativo o llamadas catastróficas.</p>

      <h2>MANTENIMIENTO</h2>
      <p>En caso de así lo desee, los pacientes pueden adquirir tratamientos de mantenimiento anual a bajo
        costo para mantener el optimo nivel de salud posible.</p>

      <ul>
        <li><p>Tratamientos de enfermedades que constan de 3 elementos:</p></li>
        <ol>
          <li><p>1.- Eliminar el avance de la enfermedad, molestia o síntomas del paciente. (de 3 a 5 meses)</p></li>
          <li><p>2.- Grabar la nueva información en el ADN (3 meses)</p></li>
          <li><p>3.- Mantenimiento (Anual 4 citas al año, sujetas a la aprobación de cada paciente)</p></li>
        </ol>
        <li><p>Guía de alimentación</p></li>
        <li><p>Apoyo metafísico</p></li>
      </ul>
    </div>
  </div>


  <div class="-col-1-3 p-4">
    <div>
      <h1>Historia</h1>
    </div>
    <div>
      <h2>Padre de la Medicina Quántica o Molecular</h2>

      <p>William Charles Nelson (Bill Nelson) pertenece a ese grupo de investigadores independientes que han dedicado tiempo y talento para revelarnos una serie de pautas a favor de la salud.</p>

      <p>Nacido y criado en Ohio, Estados Unidos (1951), Bill Nelson fue reconocido como un genio matemático desde temprana edad. Durante su juventud mostró interés en la física cuántica y la ingeniería electrónica. Su afición le llevó a trabajar para la compañía automotriz General Motors y aportó conocimientos para desarrollar el sistema de navegación Gyro del proyecto espacial "Apolo" de la NASA.</p>

      <p>Tiempo después canalizó su genialidad al mundo de la medicina complementaria y de la salud, a raíz del nacimiento de su hijo primogénito, Daniel, cuando a éste se le diagnosticó un grado de autismo severo como resultado de un medicamento contra el mareo ingerido por su madre durante el embarazo. La muerte de una de sus abuelas debido a la quimioterapia fue otro motivo. Después de estudiar la información ofrecida por el mundo médico alópata y la industria de los medicamentos sintéticos, se concentró en el mundo de la medicina complementaria.</p>

      <p>En esta fase en su vida Bill Nelson no tenía intención de seguir un camino en la medicina. Sin embargo, dado que la medicina convencional no podía mejorar la patología de su hijo, el profesor Nelson empezó a estudiar la posibilidad de tratarlo desde un nivel bioquímico, en lugar del nivel físico. Así puso su conocimiento de física cuántica e ingeniería eléctrica a la práctica de la medicina.</p>

      <p>Durante su investigación, Nelson se interesó particularmente por los sistemas bioeléctricos Vega Voll y Mora, así como las unidades de estimulación eléctrica craneal (CES). Estas unidades tienen la particularidad de medir la respuesta eléctrica del cuerpo para ayudar en el diagnóstico de problemas de salud, o bien, emiten frecuencias para curar tales problemas, pero nunca pueden hacer ambas funciones. También estudió los sistemas energéticos del cuerpo humano -meridianos de acupuntura, los chakras, y la kinesiología aplicada o testado muscular, entre otros. Se dio cuenta de que los desequilibrios de estos sistemas energéticos son indicadores tempranos de alarma y aparecen más temprano que los síntomas de la enfermedad.</p>

      <p>Con este cúmulo de conocimientos, Bill Nelson decidió diseñar un sistema completo que testara y equilibrara los niveles energéticos de estos delicados sistemas. Así nació la Quantum Xrroid Consciousness Interface (QXCI). La palabra 'Xrroid' es un término acuñado por Nelson y significa "la capacidad de un sistema informático a interactuar con el organismo a velocidades biológicas de una centésima de segundo o más".</p>

      <p>En 2002, una idea nueva toma forma. El profesor Nelson continúa desarrollando el software del programa, pero ahora más que nunca es consciente de que el hardware del sistema debe ser desarrollado también. Así, en septiembre de ese año crea el primer prototipo del SCIO.</p>

      <p>Una vez más hace gala de su ingenio y don de palabra: 'SCIO' proviene del latín 'saber', 'entender' y también corresponde a las siglas Scientific Consciousness Interface Operations (Operaciones Científicas de Interfase Consciente).</p>
      <p>Durante el desarrollo de su sistema, el investigador logra integrar las ciencias de las matemáticas, la física cuántica, la electrónica, el naturismo, la homeopatía, la quiropráctica, la medicina energética y la programación informática. También ha estudiado psicología, homeopatía, naturismo, ciencias, administración, informática y leyes internacionales.</p>

      <h2>Medicina Molecular es ir al origen de la enfermedad.</h2>

      <p>Las partículas subatómicas son la base de la realidad. Si fuera posible actuar a ese nivel, trataríamos los verdaderos orígenes de la enfermedad.</p>
      <p>Por eso, cuando el adjetivo cuántico acompaña a la palabra medicina, esta adquiere una nueva dimensión. La medicina cuántica sería el futuro que dejaría atrás cualquier otra forma de tratamiento. Y ya son muchos los médicos o terapeutas que aseguran practicarla. Por desgracia, en muchos casos no es más que un argumento de marketing.</p>

      <h2>¿EN QUÉ CONSISTE LA AUTÉNTICA MEDICINA CUÁNTICA?</h2>

      <p>Sería aquella que aplica los descubrimientos realizados por la física cuántica. Según esta, en la escala más íntima, más profunda de la realidad, las partículas están en dos sitios a la vez (superposición). Se comunican entre sí sin que importe la distancia ni las barreras que haya entre ellas (entrelazamiento), y pueden desaparecer en un lugar para reaparecer en otro (teleportación).</p>
      <p>Estos comportamientos –tan comprobados como la ley de la gravedad– son bombas para nuestras mentes acostumbradas a la realidad ordinaria. Vivimos como si ese mundo extraordinario no existiera, y lo mismo hace la medicina convencional.</p>
      <p>De hecho, todavía existe una gran discusión entre los teóricos sobre si la manera en que funcionan las cosas en la escala más pequeña se refleja o se puede trasladar al mundo habitual de las cosas grandes.</p>
      <p>Para unos expertos, son mundos distintos y prácticamente incomunicados. Para otros, es todo lo contrario: el mundo cuántico es la base, la "matrix" sin la que no se entiende del todo el mundo grande. Si estos últimos tienen razón, actuar en el nivel cuántico sería la manera más eficaz de transformar la realidad.</p>
      <p>En medicina significaría ir al origen más profundo del trastorno. Implicaría tratar en un lugar que está más allá de las reacciones químicas a nivel celular, que es el campo de batalla de la medicina científica actual.</p>

      <h2>FENÓMENOS CUÁNTICOS EN LOS SERES VIVOS</h2>

      <p>Por de pronto, parece que los científicos que apuestan por la hipótesis de la matrix cuántica llevan más razón que sus oponentes. Los biólogos están descubriendo la base cuántica de fenómenos que hasta ahora no tenían una explicación.</p>
      <p>Por ejemplo, la capacidad de las aves para orientarse en sus viajes migratorios es uno de los grandes misterios de la biología.</p>
      <p>Según Marshall Stoneham, del University College de Londres, las aves –el petirrojo, por ejemplo– podrían literalmente ver, gracias a las cualidades de las partículas elementales, los campos magnéticos de la Tierra, y los utilizarían para orientarse en sus viajes migratorios, como si llevaran unas gafas de realidad aumentada.</p>
      <p>Los fenómenos cuánticos no solo explicarían habilidades como la orientación de las aves, sino que se hallarían en la base de los procesos fisiológicos que mantienen la vida y la salud. Esta idea ya la expresó uno de los pioneros de la física cuántica, Erwin Schrödinger en su conocido libro ¿Qué es la vida? (Tusquets Editores, 1983).</p>
      <p>La habilidad de las células para producir energía y el funcionamiento de las neuronas podrían explicarse mediante fenómenos cuánticos. Aunque la producción de energía a partir de la glucosa es un proceso básico en los organismos, la química clásica no consigue explicar la increíble velocidad a la que se producen las reacciones.</p>
      <p>Según el físico Vlatko Vedral, de la Universidad de Oxford, la habilidad de las partículas cuánticas para estar en dos sitios a la vez ayudaría a entenderlo. Esta cualidad explicaría por qué las enzimas son tan eficaces para catalizar todo tipo de reacciones químicas.</p>
      <p>Según Luca Turin, biofísico del University College de Londres, la acción de los neurotransmisores se explica por el flujo de electrones a nivel cuántico. Y no sería de extrañar –si suceden en el corazón de las neuronas– que tuviera relación con los desconocidos vínculos entre la conciencia y el cuerpo.</p>

      <h2>TODO ESTÁ RELACIONADO</h2>

      <p>La realidad cuántica explicaría fenómenos que tenemos delante de los ojos y también el funcionamiento holístico de las terapias naturales y tradicionales. Para autores como el biólogo Bruce Lipton y el físico Amit Goswami, la física cuántica puede explicar la interacción a niveles muy profundos entre los pensamientos, las emociones y las células.</p>
      <p>Esta interacción haría posibles los efectos beneficiosos de la meditación, las visualizaciones y las técnicas de relajación, por ejemplo. Y llegaría a afectar a procesos tan determinantes de la salud como la expresión de los genes.</p>
      <p>Bruce Lipton, autor de Biología de la creencia (Palmyra, 2007), alude al fenómeno del "entrelazamiento cuántico", por el que una partícula (un electrón o un fotón, por ejemplo) se relaciona con otras del mismo sistema sin que importe la dis tancia, los obstáculos o el tiempo.</p>
      <p>Así, al meditar, el estado de armonía podría difundirse desde el cerebro al resto del cuerpo. Y no solo eso: también afectaría a las personas que rodean al meditador, como se ha probado a través de la observación de la actividad cerebral.</p>

      <h2>ES POSIBLE CURAR POR RESONANCIA</h2>

      <p>Para Lipton, al establecerse una relación entre terapeuta y paciente, si la mente –y cada una de las células– del primero se encuentra en armonía, ya está produciendo un beneficio en el segundo. ¡Antes de que haya iniciado tratamiento alguno! Por supuesto, esto no convierte en innecesarios los medicamentos, los cambios en la dieta u otras terapias.</p>
      <p>Lo que nos enseña el mundo cuántico es que todo en nuestro cuerpo/mente está relacionado a niveles profundos y todavía muy desconocidos. Y lo mismo se puede decir de las relaciones entre el cuerpo y su entorno.</p>
      <p>¿Hasta dónde llega el efecto de un pensamiento, un recuerdo o una emoción? Podemos estar influyendo y, por tanto, ser influidos por las personas que nos rodean y por las formas, los sonidos, los colores o los aromas.</p>
      <p>En palabras del revolucionario físico Amit Goswami, "el mundo está constituido por posibilidades, no por eventos determinados, por lo tanto podemos elegir la salud sobre la enfermedad. Ni la enfermedad ni la curación son enteramente objetivas."</p>
      <p>"Las experiencias subjetivas y nuestras actitudes hacia ellas tienen un papel que desempeñar. A través de la creatividad, el activista cuántico aprende a cambiar la actitud que le lleva de la enfermedad a la salud, y de la salud ordinaria a la salud positiva".</p>


    </div>
  </div>


