

<div class="-col-4">

  <div>
    <h2>Comunicados</h2>
    <a routerLink="/blog" class="-btn-ver-todos"> Ver todos <i class="pi pi-arrow-right"></i></a>
  </div>

  <div *ngFor="let blog of blogs " class="-tarjeta">

    <div>
      <a [routerLink]="['/blog', blog.slug]"><img [src]="blog._id | image: 'news'"  [alt]="blog.name"></a>
    </div>
    <div>
      <p class="-titulo">{{ blog.name }}</p>
      <div [innerHTML]="blog.intro | truncate: 200 " class="-intro" ></div>
    </div>

    <div>
      <a [routerLink]="['/blog', blog.slug]" class="-btn-ver-mas float-end">ver mas</a>
    </div>

  </div>
</div>



