<div class="-breadcrumb">
  <a href="/">Inicio</a>
  / Testimoniales
</div>


<div class="-container p-1">
  <h1>Testimoniales</h1>

  <div class="border rounded p-2 mb-2">
    <h2>Juan Andres PardoJuan Andres Pardo</h2>
    <h6>Octubre 2022</h6>
    <p>Cuando encontré EARN, estaba en un momento de mi vida en donde ningún doctor podía encontrar lo que pasaba con mi parte digestiva y de absorción. Ningún alimento lo absorbía y ningún nutriente se quedaba en mi organismo. Llevaba más de 5 años sin poder nutrirme y sufría de colon irritable diariamente. Después de conocer su forma de trabajar y la ciencia detrás, tome la decisión de confiar en la medicina molecular y los resultados han sido increíbles. Al día de hoy, me siento nuevo y mi sistema nutritivo y digestivo funcionan perfecto. Adicionalmente, estoy lleno de energía y he aumentado el peso que no había podido recuperar en años.
  </div>

  <div class="border rounded p-2 mb-2">
    <h5>Expediente Nico</h5>
    <h6>2013</h6>
    <p class="card-text">Los padres reciben con ilusión la llegada de un hijo y nosotros nos sentimos de la misma manera con Nicolás, nuestro segundo bebé. Pero las cosas no estaban bien desde el inicio del embarazo ya que tuvimos varias complicaciones.</p>

    <p>Sabíamos que algo estaba pasando, desde el nacimiento de nuestro bebé señalamos que no estaba todo bien. Empezamos a hacer todas las pruebas sin encontrar una patología clara, pero en nuestro corazón sabíamos que Nico estaba enfermo, después de dos meses tuvimos un diagnóstico y fue devastador, nuestro bebé tenía una lesión cerebral grave y que probablemente iba a morir o vivir con un alto daño neurológico (cuadriplejia espástica con atetosis).</p>
    <p>Las noticias no eran alentadoras, cada nueva cita era otra puerta cerrada. Comenzamos un proceso de rehabilitación intensivo, con muchas horas diarias, por desgracia Nico todavía estaba en mal estado, ni siquiera podía controlar su propia saliva, por lo que necesitaba asistente médico para comer y conectamos un tubo en su estómago.</p>

    <p>Nuestros colegas médicos nos dijeron que era mejor esperar a que Nico se deje llevar…, porque tener un bebé con una lesión cerebral era una vida agotadora y frustrante. Pero, ¿quién no hace todo lo posible por su propio hijo?</p>

    <p>Seguimos la rehabilitación, trabajando todos los días, nos dedicamos en cuerpo y alma a su cuidado, y empezamos a ver los resultados. Nico poco a poco comenzó a mejorar, para nosotros cada avance fue un milagro.</p>
    <p>Después de casi tres años de terapia vimos a Nico de pie. Pero seguía recibiendo asistencia para comer y en la parte cognitiva nos señalaron que estaba definitivamente en un gran riesgo. No podía hablar, no podía reconocer partes de su cuerpo, no podía decir papá. Se le había diagnosticado también un subdesarrollo mental generalizado.</p>

    <p>Desde hace años con la búsqueda de nuevas terapias, nosotros los médicos no hemos logrado encontrar una respuesta a la enfermedad de nuestro hijo. Hasta que una llamada de México a partir de un gran amigo que también tenía una hija con lesión cerebral, dijo: "Yo sé que ya has probado todo, pero no se pierdan la oportunidad de hablar con  EARN". Hicimos una cita, y lo hacemos con un gran escepticismo ya que después de tantos diferentes tratamientos médicos, nos pareció que no había mucho que hacer con Nico.</p>

    <p>Mi marido y Yo nos sorprendimos desde la primera cita ya que el Dr. Valter nos dio una amplia explicación acerca de la condición de nuestro hijo y aunque nosotros escuchamos a muchos médicos y especialistas, el Dr. Valter nos dio una hoja de vida muy profunda en varios aspectos, en una cita.</p>

    <p>Lo mejor de ese día fue que volvimos a tener esperanza, era la primera vez que dejamos una cita médica con un diagnóstico difícil de aceptar como padres, pero con la esperanza y sentimos que miles de puertas se estaban abriendo</p>

    <p>Empezamos rápidamente el tratamiento, llenos de fe, optimismo, siempre pidiendo bendiciones de Dios y la Virgen María, los resultados empiezan a hacerse notar en los primeros días, empezamos a ver cómo Nico, se iba incorporando a este mundo.</p>

    <p>Comienzo a recibir los primeros besos de mi bebé, después del cuarto año mi bebé comienza a decirme mamá, empezamos a notar que no sólo reconoce las formas, colores, animales, él empieza a entender órdenes simples, empieza a dormir tranquilo toda la noche, comienza a ganar peso ya que come mejor, pero lo más importante es que vemos a un niño feliz, se echa a reír en voz alta, comenzó el jugar con su hermana mayor, que quería tener un bebé en casa, un bebé normal, empezó a descubrir unos de otros. Fue como retroceder en el tiempo y empezar a ver nuestro hijo crecer en cada etapa del desarrollo.</p>

    <p>Seguimos todas las recomendaciones de Renovatium, no fallamos en aplicar el tratamiento, sus citas de control y cumplir con la dieta en forma estricta. Hemos notado grandes cambios en poco tiempo con Nicolas. Nadie entiende cómo nuestro hijo con una lesión cerebral podría estar haciendo tanto, y algunas de ellas más avanzadas para los niños de su edad.</p>

    <p>Después de un largo año de tratamiento, Nico come por sí mismo, asiste regularmente en la escuela, dice algunas palabras y sabemos que pronto no va a parar de hablar. Reconoce el alfabeto, que está leyendo, se encarga de la perfección de su ordenador y la tableta, juega todo el día con su hermana. El baila, corre, y ahora corro detrás de él. Estoy abrumada de amor con cada beso que me da....</p>

    <p>Esta es una historia de amor, porque el amor liberó a mi Nico, sin desmebrar la familia al seguir creyendo, para encontrar al Dr. Valter, para orar todos los días, la certeza de que los milagros existen y debemos luchar por ellos. Continuamos con el tratamiento y no sé cómo agradecer al Dr. Valter, Libardo, Adriana y Leydi, por la gran paciencia y dedicación y tanto amor que le dan a nuestra familia, gracias a todos y gracias al equipo de Renovatium tenemos un niño normal en el hogar .</p>

    <p>Gracias.</p>

    <p>Martha Clemencia Ardila Jiménez, médico pediatra y Madre de Juanita y Nico</p>
  </div>

</div>

<div class="-container border rounded p-2 mb-2">

    <div class="-col-3">
      <div>
        <video width="100%" controls>
          <source src="assets/images/testimonio03.mp4" type="video/mp4">
        </video>
      </div>

      <div>
        <video width="100%" controls>
          <source src="assets/images/testimonio04.mp4" type="video/mp4">
        </video>
      </div>

      <div>
        <video width="100%" controls>
          <source src="assets/images/testimonio05.mp4" type="video/mp4">
        </video>
      </div>
    </div>

</div>
