
<div class="-breadcrumb">
  <a href="/">Inicio</a>
  / Semblanza
</div>

<div class="-container">

    <div class="row">
      <!--
      <div class="col">
        <img src="assets/images/semblanza-valter-kuhne.jpg" class="float-start">
      </div>
-->
      <div class="col">
        <img src="assets/images/semblanza-valter-kuhne.jpg" width="50%" class="float-start  pb-2">
        <p>Valter Kühne nació en la ciudad de México en 1968, desde los 8 años se vio fascinado por la Física Quántica a través de seguir a Carl Sagan y Nicola Tesla, inicio su primer contacto con la Medicina Molecular en 1994 cuando su Padre fue atendido por el Dr. Carlos Gámez por Cáncer de Próstata con metástasis a hueso en Tamaulipas y de su Madre por Lupus Eritematoso Sistémico, mismos que en ambos casos desapareció por completo la enfermedad, así, viajo a Reino Unido para ser instruido en dicha disciplina.</p>
        <p>Durante más de 12 años formo alianzas científicas con diversos institutos de investigación en Europa y Estados Unidos especializados en Oncóloga, Neurología, Genética e Inmunología logrando así tratar a más de 15,000 pacientes en 19 ciudades en México, Estados Unidos, Colombia y Costa Rica.</p>
        <p>Valter Kühne , con más de 30 años de experiencia propone un método cero invasivo que permite reestablecer la comunicación molecular entre el ADN y los receptores moleculares de cada célula, tejido y órgano, recuperando así el mayor porcentaje posible de recuperación de la salud del paciente sin importar la patología o deficiencia.</p>
        <p>Actualmente cuenta con un equipo en 16 especialidades médicas con gran expertise en enfermedades autoinmunes, neurológicas, metabólicas, oftalmológicas, respiratorias y cardiovasculares entre otras.</p>
        <p>Así también se ha especializado en la metafísica ancestral que permite la armonía del Ser en Cuerpo – Mente – Espíritu facilitando al paciente a nivelar los cuerpos sutiles (energéticos) que al estar en desequilibrio pueden gestar una enfermedad o perdida de energía nivel orgánico y sistémico.</p>
        <p>“La Medicina Molecular es un método que integra al Ser como un todo, de tal forma que creemos que la única forma de sanar definitivamente a nuestro paciente es logrando el equilibrio y función de los órganos en todos sus niveles energéticos, químicos y físicos”</p>
        <h2>Objetivo</h2>
        <p>Ser la mejor opción en respuesta a nuestro paciente con oportunidad, calidad y servicio</p>
        <h2>Meta</h2>
        <p>Lograr el mejor beneficio a la comunidad en costo – beneficio disponible en el rubro de la Medicina</p>
        <h2>Filosofía:</h2>
        <p>“Entendemos que la enfermedad se debe tratar con empatía, amor y paciencia, que nuestro servicio es incondicional y que reconocemos que la honestidad y la humildad es el único camino para ejercer nuestra responsabilidad con quién nos da su confianza.”</p>




      </div>
    </div>

</div>
